{% extends 'sweets/base.html' %}


{% block content %}
    {% csrf_token %}
    <h3 class="text-center">Ваш предварительный заказ</h3>
    <br>
    <table class="table">
        <tr>
            <td class="text-center"><strong>Товар</strong></td>
            <td class="text-center"><strong>Количество</strong></td>
            <td class="text-center"><strong>Сумма</strong></td>
            <td class="text-center"></td>
        </tr>
        {% for item in cart.items.all %}
            <tr>
                <td class="text-center">{{ item.product.title }}</td>
                <td class="text-center">{{ item.qty }}</td>
                <td class="text-center">{{ item.item_total }} р.</td>
                <td></td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td class="text-center"><strong>Итого: </strong></td>
            <td class="text-center"><strong>{{ cart.cart_total }} р.</strong></td>
            <td></td>
        </tr>
    </table>
    <a href="{% url 'create_order' %}" class="pull-right"><button class="btn btn-success">Оформить заказ</button></a>

{% endblock content %}